# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore log and backup files
*.log
*.sql
*.tar.gz
*.zip
*.bak
*.swp
*.tmp
*.old

# Ignore node & vendor folders (if applicable)
node_modules/
vendor/

# Ignore cache, upgrade, and uploads directories
chekin.com/wp-content/cache/
chekin.com/wp-content/upgrade/
chekin.com/wp-content/uploads/

chekin.com/onboarding/wp-content/cache/
chekin.com/onboarding/wp-content/upgrade/

# Ignore all plugins except specific ones
chekin.com/wp-content/plugins/*
chekin.com/onboarding/wp-content/plugins/*

!chekin.com/wp-content/plugins/wp-rocket/
!chekin.com/wp-content/plugins/advanced-custom-fields-pro/
!chekin.com/wp-content/plugins/sitepress-multilingual-cms/
!chekin.com/wp-content/plugins/wp-postviews/
!chekin.com/wp-content/plugins/wp-seo-multilingual/
!chekin.com/wp-content/plugins/wpml-media-translation/
!chekin.com/wp-content/plugins/wpml-string-translation/

!chekin.com/onboarding/wp-content/plugins/sitepress-multilingual-cms/
!chekin.com/onboarding/wp-content/plugins/wp-seo-multilingual/
!chekin.com/onboarding/wp-content/plugins/wpml-media-translation/
!chekin.com/onboarding/wp-content/plugins/wpml-string-translation/

# Ignore WordPress core files (optional, if using Git for custom development)
chekin.com/wp-admin/
chekin.com/wp-includes/

chekin.com/onboarding/wp-admin/
chekin.com/onboarding/wp-includes/

# Ignore environment configuration files
chekin.com/wp-config.php
chekin.com/onboarding/wp-config.php
