@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

